<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">LisTik</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/tasks">My Tasks</a>
                    <a class="nav-link" href="/tasks/new">Add Task</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<br>