    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Listik!</h1>
            <p class="lead">This is the place where you will organize all your tasks!</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href=<% if(userSession) {%>"/tasks"<%}else{%>"/login"<%}%> role="button">Start Using</a>
            </p>
          </div>
    </div>
<%- include('./partials/footer') %>