    <%- include('./../partials/head') %>
    <title>Add Task</title>
</head>
<body>
    <%- include('./../partials/nav') %>
    <main>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Add a task</h3>
                </div>
                <div class="card-body">
                    <form action="/tasks/save" method="post">
                        <label for="taskTiel">Title:</label>
                        <input type="text" name="taskTitle" class="form-control" required>
                        <label for="taskTiel">Description:</label>
                        <input type="text" name="taskDescription" class="form-control" required>
                        <label for="taskTiel">Deadline:</label>
                        <input type="date" name="taskDeadline" class="form-control" required>
                        <br>
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include('./../partials/footer') %>